<head>
    <title>{{title}}</title>
</head>

<h2 class="tituloBuscarLibro">Ingresá el nombre del autor</h2>
<div class="contenedorBuscador">
<form class="formBuscarLibro"action="" method="post">

        <input class="campoBuscarLibro"type="text" name="autor" id="">
        <input class="submitBuscarLibro"type="submit">
    </form>
   
   <div class="botonVolver">
       <a href="/">
           Volver al inicio
       </a>
   </div>
</div>
    
