 
 <h1 class="resultadoBusqueda">Resultado encontrado</h1>
<div>

      

            <div class="contenedorResultado">
                  <img class = "falsaImagen" src="/images/cover.jpg" alt="">
                  <h2 class="tituloEncontrado">{{libro.titulo}}</h2>
                  <p class="autorLibro">de <br> <br>{{libro.autor}} 
                        <br>
                        ({{libro.estado}})
                  </p>
            </div>

                  <div class="botonVolver">
                        <a href="/titulos">Realizar otra búsqueda</a>
                  </div>
             <div class="botonVolver">
       <a href="/">
       Volver al inicio
       </a>
   </div>
      
      </div>
